In [1]:
!pip install IPython 
from IPython.display import Image

Requirement already satisfied: IPython in c:\programdata\anaconda3\lib\site-packages (7.12.0)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from IPython) (2.5.2)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from IPython) (45.2.0.post20200210)
Requirement already satisfied: jedi>=0.10 in c:\programdata\anaconda3\lib\site-packages (from IPython) (0.14.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from IPython) (3.0.3)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from IPython) (4.3.3)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from IPython) (0.1.0)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from IPython) (0.7.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\programdata\anaconda3\lib\site-packages (from IPython) (0.4.3)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from IPython) (4.4.1)
Requirement already satisfied: parso>=0.5.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.10->IPython) (0.5.2)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython) (0.1.8)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from traitlets>=4.2->IPython) (0.2.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from traitlets>=4.2->IPython) (1.14.0)

# ISL 3.5

<img src = "img/KakaoTalk_20210717_102103567.png" height="50%" width="50%">

# ESL 3.4

<img src = "img/KakaoTalk_20210717_102120239.png" height="50%" width="50%">

# Coding

In [2]:
import numpy as np
import pandas as pd
import random
import math

In [3]:
df = pd.read_csv("Auto.csv")

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [5]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

In [6]:
df = df.drop(['origin','name'],axis=1)

In [7]:
df.head()

    mpg  cylinders  displacement horsepower  weight  acceleration  year
0  18.0          8         307.0        130    3504          12.0    70
1  15.0          8         350.0        165    3693          11.5    70
2  18.0          8         318.0        150    3436          11.0    70
3  16.0          8         304.0        150    3433          12.0    70
4  17.0          8         302.0        140    3449          10.5    70

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           397 non-null    float64
 1   cylinders     397 non-null    int64
 2   displacement  397 non-null    float64
 3   horsepower    397 non-null    object
 4   weight        397 non-null    int64
 5   acceleration  397 non-null    float64
 6   year          397 non-null    int64
dtypes: float64(3), int64(3), object(1)
memory usage: 21.8+ KB

In [9]:
for i in df.columns:
    print(df[i].isnull().value_counts())

False    397
Name: mpg, dtype: int64
False    397
Name: cylinders, dtype: int64
False    397
Name: displacement, dtype: int64
False    397
Name: horsepower, dtype: int64
False    397
Name: weight, dtype: int64
False    397
Name: acceleration, dtype: int64
False    397
Name: year, dtype: int64

In [10]:
df.corr()

,mpg,cylinders,displacement,weight,acceleration,year
mpg,1.000000,-0.776260,-0.804443,-0.831739,0.422297,0.581469
cylinders,-0.776260,1.000000,0.950920,0.897017,-0.504061,-0.346717
displacement,-0.804443,0.950920,1.000000,0.933104,-0.544162,-0.369804
weight,-0.831739,0.897017,0.933104,1.000000,-0.419502,-0.307900
acceleration,0.422297,-0.504061,-0.544162,-0.419502,1.000000,0.282901
year,0.581469,-0.346717,-0.369804,-0.307900,0.282901,1.000000

# Linear Regression

In [11]:
x = df[['cylinders','displacement','weight','acceleration','year']].to_numpy()
y = df['mpg'].to_numpy()

In [12]:
def normal_equation(X, Y):
    beta = np.dot((np.linalg.inv(np.dot(X.T,X))), np.dot(X.T,Y))

    return beta

In [13]:
beta = normal_equation(x,y)

In [14]:
beta

array([-0.49639433,  0.00769003, -0.00694174,  0.02978748,  0.59107344])

In [15]:
y_hat = np.dot(x,beta)

In [16]:
x

array([[   8. ,  307. , 3504. ,   12. ,   70. ],
       [   8. ,  350. , 3693. ,   11.5,   70. ],
       [   8. ,  318. , 3436. ,   11. ,   70. ],
       ...,
       [   4. ,  135. , 2295. ,   11.6,   82. ],
       [   4. ,  120. , 2625. ,   18.6,   82. ],
       [   4. ,  119. , 2720. ,   19.4,   82. ]])

In [17]:
beta

array([-0.49639433,  0.00769003, -0.00694174,  0.02978748,  0.59107344])

In [18]:
y_hat

array([15.79842565, 14.8022147 , 16.32526663, 16.26821893, 16.09708986,
       10.86679973, 10.93902036, 11.10801921, 10.4836345 , 13.93060059,
       15.91373029, 15.20416422, 14.65510299, 19.77862112, 24.23954696,
       20.71516337, 21.13241591, 22.45310461, 25.78151327, 28.00805072,
       22.20842429, 23.77589228, 24.22398019, 25.18455828, 21.99218111,
        8.55330162,  9.8345929 ,  9.83285157,  7.44452041, 26.37258671,
       25.80285255, 25.80044314, 27.09742634, 22.87463484, 17.30717458,
       18.26301641, 18.45044333, 18.40920715, 11.82624528, 10.42570985,
       12.26041209, 12.39436822,  6.88658623,  8.48303359,  5.74798899,
       20.81257937, 24.9074985 , 18.57438434, 19.55215908, 25.92518729,
       26.55239566, 26.77184089, 26.7545894 , 28.78488995, 29.87347051,
       28.56138468, 27.71997548, 26.08911091, 27.0697408 , 26.37097197,
       25.51346568, 26.54907899, 11.96610578, 11.5800743 , 12.72960763,
       13.01013523, 15.77639679, 10.05174671, 10.42807082, 10.74739075,
       11.33812374, 25.83428874, 14.27900199, 12.91675535, 11.5772996 ,
       13.14712214, 21.57400554, 24.60767496, 21.39593296, 26.65066377,
       25.3610316 , 25.9413343 , 24.53043746, 26.75022484, 27.23148723,
       13.79482903, 16.36747022, 14.57230364, 13.87300969, 15.77603564,
        8.44329959, 11.62275047, 11.97684207, 12.64241131, 10.01935322,
        8.63528832, 15.74889914, 20.72658148, 19.87366059, 21.98726375,
       21.61300594, 22.01041405, 28.99786494,  7.98237929,  8.56939619,
       10.02600669, 11.010182  , 23.04038734, 26.65445833, 26.15313127,
       25.97040618, 27.85536012, 26.61662142, 24.61899854, 26.65507651,
       13.91978031, 12.83944497, 29.30633714, 27.53626294, 24.53290493,
       22.64607939, 18.35533123, 24.0452796 , 22.28631274, 16.76185166,
       21.24191718, 22.84796541, 22.88377364, 20.03232577, 29.39094293,
       26.1693349 , 30.18035574, 25.69095102, 16.94325255, 18.06887915,
       17.90232003, 13.76195737, 10.27248287, 11.676515  , 10.37148874,
       13.01677708, 27.59525736, 29.19644417, 26.96571163, 31.38286717,
       29.05379095, 28.12668551, 28.27448253, 27.47178225, 25.84548761,
       26.44839129, 28.95449362, 20.90116614, 19.73977801, 20.0761423 ,
       21.93349719, 11.37388913, 12.6465726 , 12.01276467, 11.13301184,
       16.63270642, 16.77376564, 18.00944978, 17.37388329, 22.47940979,
       20.41693453, 21.04082478, 28.49695043, 25.60867591, 23.38460449,
       25.97961879, 25.02095011, 28.09704362, 26.09970866, 22.38490995,
       30.00791188, 21.35269591, 24.9750547 , 23.24740281, 23.263925  ,
       25.13617362, 31.10558481, 27.1161013 , 28.92079798, 26.60229207,
       28.56324665, 28.88273888, 14.42369827, 14.69721207, 16.19907658,
       14.77148205, 21.68956096, 21.02199442, 23.09696672, 22.83630076,
       30.1245022 , 29.32600966, 30.60494281, 31.6936795 , 18.85642584,
       19.681489  , 19.04564575, 22.29249132, 31.37667266, 30.28198551,
       29.21100666, 26.61216051, 22.53689745, 16.43860396, 21.81167101,
       23.26527428, 17.21515313, 13.59755409, 15.85064006, 16.8551026 ,
       17.74665539, 30.63591496, 29.86208052, 32.01996544, 28.96097011,
       31.17947964, 17.32536006, 15.92341463, 15.65622362, 14.49295882,
       20.51039388, 21.03864216, 19.59327577, 20.55313263, 15.65401945,
       15.66024987, 14.95790323, 14.58018569, 31.23795747, 26.14451012,
       29.09210642, 25.94983626, 30.54958332, 30.35021539, 30.98217548,
       29.49060809, 24.54795978, 26.79033263, 26.15927854, 31.67133485,
       32.80558545, 31.51650082, 30.95645334, 32.81133021, 21.23473952,
       19.04380704, 20.0542383 , 20.93463566, 23.3043176 , 24.5517578 ,
       26.77195552, 21.55780299, 23.13881545, 21.90932757, 23.84968408,
       20.28355406, 21.88785496, 21.09577533, 21.38662468, 22.54031256,
       16.66380131, 30.40382231, 27.80074839, 29.50514349, 29.87744723,
       28.13099907, 26.76017624, 25.9849437 , 28.78221854, 25.45765354,
       22.98689025, 26.11415091, 21.17815355, 31.4323388 , 30.54563581,
       23.42562059, 25.04077774, 26.23952977, 23.37788079, 22.61692557,
       18.87156011, 19.5872149 , 18.36146912, 19.03499035, 15.59301408,
       17.70700333, 20.1987324 , 18.52884794, 32.44781645, 32.11340446,
       32.59835907, 27.55209032, 21.71449951, 18.86068206, 24.38810459,
       21.64359348, 30.63804908, 31.03577467, 31.91248614, 31.06099153,
       27.81257863, 27.36959975, 26.68837727, 28.52053178, 31.60871084,
       32.88337505, 31.79914252, 32.43478641, 28.3630119 , 26.99326794,
       26.2141821 , 23.12477621, 31.32835058, 27.97341661, 29.09848482,
       29.76603377, 30.86055461, 31.8477695 , 27.49201635, 31.8788032 ,
       32.16526546, 30.48940602, 25.84904153, 24.51176149, 33.56894276,
       33.73118483, 31.69237774, 33.63295261, 25.73855446, 29.90833237,
       29.33392792, 26.63711472, 30.7329386 , 30.11226158, 29.2496013 ,
       29.33260256, 27.68804446, 30.75773909, 34.81954211, 34.02547006,
       34.7763835 , 32.83283269, 33.4129687 , 32.86054479, 33.28841407,
       31.7667086 , 32.93169751, 30.74025906, 31.9194008 , 31.02618474,
       31.8019036 , 30.90924031, 29.09469521, 29.06780665, 25.16151707,
       24.66158016, 26.43479024, 26.09310247, 23.43958706, 21.30529297,
       25.70423676, 23.07018999, 29.84433571, 29.57158742, 31.25444064,
       29.95131042, 30.46931044, 29.19416094, 28.15948479, 34.00100536,
       33.66735045, 34.03127354, 32.97658092, 33.00019816, 32.84301303,
       32.43066447, 32.23217494, 33.98853479, 34.00938602, 33.81602763,
       26.92664826, 27.08149136, 30.16961556, 28.0317921 , 29.50412373,
       31.45591734, 27.68083613, 28.65628513, 33.17524802, 31.93484519,
       29.7372337 , 29.09390858])

In [19]:
len(y_hat)

397

## 알고보니 horsepower 변수에 ? 가 5개 있었음

In [20]:
sum(df['horsepower'] == '?')

5

In [21]:
df1 = df[df['horsepower']!='?']

In [22]:
df1

      mpg  cylinders  displacement horsepower  weight  acceleration  year
0    18.0          8         307.0        130    3504          12.0    70
1    15.0          8         350.0        165    3693          11.5    70
2    18.0          8         318.0        150    3436          11.0    70
3    16.0          8         304.0        150    3433          12.0    70
4    17.0          8         302.0        140    3449          10.5    70
..    ...        ...           ...        ...     ...           ...   ...
392  27.0          4         140.0         86    2790          15.6    82
393  44.0          4          97.0         52    2130          24.6    82
394  32.0          4         135.0         84    2295          11.6    82
395  28.0          4         120.0         79    2625          18.6    82
396  31.0          4         119.0         82    2720          19.4    82

[392 rows x 7 columns]

In [23]:
x1 = df1[['cylinders','displacement','weight','acceleration','year']].to_numpy()
y1 = df1['mpg'].to_numpy()

In [24]:
beta1 = normal_equation(x1,y1)
beta1

array([-0.51578135,  0.00757069, -0.00685936,  0.03240177,  0.58887515])

In [25]:
y_hat1 = np.dot(x1,beta)
y_hat1

array([15.79842565, 14.8022147 , 16.32526663, 16.26821893, 16.09708986,
       10.86679973, 10.93902036, 11.10801921, 10.4836345 , 13.93060059,
       15.91373029, 15.20416422, 14.65510299, 19.77862112, 24.23954696,
       20.71516337, 21.13241591, 22.45310461, 25.78151327, 28.00805072,
       22.20842429, 23.77589228, 24.22398019, 25.18455828, 21.99218111,
        8.55330162,  9.8345929 ,  9.83285157,  7.44452041, 26.37258671,
       25.80285255, 25.80044314, 22.87463484, 17.30717458, 18.26301641,
       18.45044333, 18.40920715, 11.82624528, 10.42570985, 12.26041209,
       12.39436822,  6.88658623,  8.48303359,  5.74798899, 20.81257937,
       24.9074985 , 18.57438434, 19.55215908, 25.92518729, 26.55239566,
       26.77184089, 26.7545894 , 28.78488995, 29.87347051, 28.56138468,
       27.71997548, 26.08911091, 27.0697408 , 26.37097197, 25.51346568,
       26.54907899, 11.96610578, 11.5800743 , 12.72960763, 13.01013523,
       15.77639679, 10.05174671, 10.42807082, 10.74739075, 11.33812374,
       25.83428874, 14.27900199, 12.91675535, 11.5772996 , 13.14712214,
       21.57400554, 24.60767496, 21.39593296, 26.65066377, 25.3610316 ,
       25.9413343 , 24.53043746, 26.75022484, 27.23148723, 13.79482903,
       16.36747022, 14.57230364, 13.87300969, 15.77603564,  8.44329959,
       11.62275047, 11.97684207, 12.64241131, 10.01935322,  8.63528832,
       15.74889914, 20.72658148, 19.87366059, 21.98726375, 21.61300594,
       22.01041405, 28.99786494,  7.98237929,  8.56939619, 10.02600669,
       11.010182  , 23.04038734, 26.65445833, 26.15313127, 25.97040618,
       27.85536012, 26.61662142, 24.61899854, 26.65507651, 13.91978031,
       12.83944497, 29.30633714, 27.53626294, 24.53290493, 22.64607939,
       18.35533123, 24.0452796 , 22.28631274, 16.76185166, 21.24191718,
       22.88377364, 20.03232577, 29.39094293, 26.1693349 , 30.18035574,
       25.69095102, 16.94325255, 18.06887915, 17.90232003, 13.76195737,
       10.27248287, 11.676515  , 10.37148874, 13.01677708, 27.59525736,
       29.19644417, 26.96571163, 31.38286717, 29.05379095, 28.12668551,
       28.27448253, 27.47178225, 25.84548761, 26.44839129, 28.95449362,
       20.90116614, 19.73977801, 20.0761423 , 21.93349719, 11.37388913,
       12.6465726 , 12.01276467, 11.13301184, 16.63270642, 16.77376564,
       18.00944978, 17.37388329, 22.47940979, 20.41693453, 21.04082478,
       28.49695043, 25.60867591, 23.38460449, 25.97961879, 25.02095011,
       28.09704362, 26.09970866, 22.38490995, 30.00791188, 21.35269591,
       24.9750547 , 23.24740281, 23.263925  , 25.13617362, 31.10558481,
       27.1161013 , 28.92079798, 26.60229207, 28.56324665, 28.88273888,
       14.42369827, 14.69721207, 16.19907658, 14.77148205, 21.68956096,
       21.02199442, 23.09696672, 22.83630076, 30.1245022 , 29.32600966,
       30.60494281, 31.6936795 , 18.85642584, 19.681489  , 19.04564575,
       22.29249132, 31.37667266, 30.28198551, 29.21100666, 26.61216051,
       22.53689745, 16.43860396, 21.81167101, 23.26527428, 17.21515313,
       13.59755409, 15.85064006, 16.8551026 , 17.74665539, 30.63591496,
       29.86208052, 32.01996544, 28.96097011, 31.17947964, 17.32536006,
       15.92341463, 15.65622362, 14.49295882, 20.51039388, 21.03864216,
       19.59327577, 20.55313263, 15.65401945, 15.66024987, 14.95790323,
       14.58018569, 31.23795747, 26.14451012, 29.09210642, 25.94983626,
       30.54958332, 30.35021539, 30.98217548, 29.49060809, 24.54795978,
       26.79033263, 26.15927854, 31.67133485, 32.80558545, 31.51650082,
       30.95645334, 32.81133021, 21.23473952, 19.04380704, 20.0542383 ,
       20.93463566, 23.3043176 , 24.5517578 , 26.77195552, 21.55780299,
       23.13881545, 21.90932757, 23.84968408, 20.28355406, 21.88785496,
       21.09577533, 21.38662468, 22.54031256, 16.66380131, 30.40382231,
       27.80074839, 29.50514349, 29.87744723, 28.13099907, 26.76017624,
       25.9849437 , 28.78221854, 25.45765354, 22.98689025, 26.11415091,
       21.17815355, 31.4323388 , 30.54563581, 23.42562059, 25.04077774,
       26.23952977, 23.37788079, 22.61692557, 18.87156011, 19.5872149 ,
       18.36146912, 19.03499035, 15.59301408, 17.70700333, 20.1987324 ,
       18.52884794, 32.44781645, 32.11340446, 32.59835907, 27.55209032,
       21.71449951, 18.86068206, 24.38810459, 21.64359348, 30.63804908,
       31.03577467, 31.91248614, 31.06099153, 27.81257863, 27.36959975,
       26.68837727, 28.52053178, 31.60871084, 32.88337505, 31.79914252,
       32.43478641, 28.3630119 , 26.99326794, 26.2141821 , 23.12477621,
       31.32835058, 27.97341661, 29.09848482, 29.76603377, 30.86055461,
       31.8477695 , 27.49201635, 31.8788032 , 32.16526546, 30.48940602,
       25.84904153, 24.51176149, 33.56894276, 31.69237774, 33.63295261,
       25.73855446, 29.90833237, 29.33392792, 30.7329386 , 30.11226158,
       29.2496013 , 29.33260256, 27.68804446, 30.75773909, 34.81954211,
       34.02547006, 34.7763835 , 32.83283269, 33.4129687 , 32.86054479,
       33.28841407, 31.7667086 , 32.93169751, 30.74025906, 31.9194008 ,
       31.8019036 , 30.90924031, 29.09469521, 29.06780665, 25.16151707,
       24.66158016, 26.43479024, 26.09310247, 23.43958706, 21.30529297,
       25.70423676, 23.07018999, 29.84433571, 29.57158742, 31.25444064,
       29.95131042, 30.46931044, 29.19416094, 28.15948479, 34.00100536,
       33.66735045, 34.03127354, 32.97658092, 33.00019816, 32.84301303,
       32.43066447, 32.23217494, 33.98853479, 34.00938602, 33.81602763,
       26.92664826, 27.08149136, 30.16961556, 28.0317921 , 29.50412373,
       31.45591734, 27.68083613, 28.65628513, 33.17524802, 31.93484519,
       29.7372337 , 29.09390858])

In [26]:
len(y_hat1)

392

계수랑 y_hat이 약간 바뀜